{% extends 'base.html' %}
{% load static %}
{% block title %} 403 Error {% endblock%} 

{% block content%}

<div class="container page-card" style="text-align: center; margin-top: 200px;"> 
    <div style="text-align: center;">
        <strong><p style="font-size: 40px">403 Forbidden</p></strong>
        <h1 style="font-size: 40px">Uh, oh! You took a wrong turn on the trail.</h1>
        <img src="https://source.unsplash.com/ZjRVXOHZGyI" width="480" height="480">
    </div>
</div>

    
{% endblock %}