
$navbar: #28587b;
$btn: #467383;
$trim: #64888a;
$gradient_four: #9fb798;
$gradient_five:  #b7cdb2;
$background: #cfdbcc;
$footer: #e7ede6;
$font-color: #f4f4f4;
$primary-font: 'Poppins', sans-serif;


body {
    font: $primary-font;
    background: $background;
}