{% extends 'base.html' %}
{% block title %} Login {% endblock%} 

{% block content%}

    <div class="columns is-centered">
        <div class="column is-one-third">
            <form class="box site-form" method="post" action="{% url 'login' %}" style="margin-top: 200px;">
                {% csrf_token %} 
                <h1 style="text-align: center; font-size: 25px; margin-bottom: 10px; font-weight: 700;">Log In</h1>
                <div class="field">
                    <label class="label">Username</label>
                    <p class="control has-icons-left">
                        {% csrf_token %}
                        <input class="input" type="text" name="username" id="id_username" placeholder="Username" maxlength="150" autocapitalize="none" required/>
                        <span class="icon is-left"><i class="fas fa-user"></i></span>
                    </p>
                </div>
                <div class="field">
                    <label class="label">Password</label>
                    <p class="control has-icons-left">
                        {% csrf_token %}
                        <input class="input" type="password" name="password" placeholder="Password"required id="id_password"/>
                        <span class="icon is-left"><i class="fas fa-lock"></i></span>
                    </p>
                </div>

                {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div style="padding: 10px;">
                            <strong class="has-text-danger-dark">{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div style="padding: 10px;">
                        <strong class="has-text-danger-dark">{{ error|escape }}</strong>
                    </div>
                {% endfor %}
                {% endif %}

                <div style="margin-top: 30px;"> 
                    <div class="control">
                        <input class="button site-btn" type="submit" value="Log In" name="Login"/>
                        <input type="hidden" name="next" value="{{ next }}" />
                    </div>
                </div>
                <div class="control" style="text-align: right; margin-top: 50px; margin-bottom: 10px;">
                    <a class="button site-btn" href="{% url 'password_reset' %}">Reset Password</a>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
