{% extends 'base.html' %}
{% block title %} Login {% endblock%} 

{% block content%}

<main class="gradient">
    <div class="container is-max-desktop page-card">
        <div class="card-border">
            <h1>Log In</h1>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %} 
                {{ form.as_p }}
                {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="is-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="is-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
                {% endif %}
                <input type="submit" class="button" value="Login" />
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
            <div>
                <a class="button" href="{% url 'password_reset' %}">Reset Password</a>
            </div>
        </div>
    </div>
</main>
    
{% endblock %}

<form class="box">
    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input class="input" type="email" placeholder="e.g. alex@example.com">
      </div>
    </div>
  
    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input class="input" type="password" placeholder="********">
      </div>
    </div>
  
    <button class="button is-primary">Sign in</button>
  </form>