{% extends 'base.html' %}
{% block title %} Login {% endblock%} 

{% block content%}

<main class="gradient">
    <div class="container login">
        <div class="login-form">
            <h1>Log In</h1>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %} 
                {{ form.as_p }}
                {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="is-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="is-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
                {% endif %}
                <input type="submit" class="button" value="Login" />
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
    </div>
</main>
    
{% endblock %}