{% extends 'base.html' %}
{% load static %}
{% block title %} Sign Up {% endblock%} 

{% block content%}

<main class="gradient">
    <div class="columns is-centered">
        <div class="column is-half">
            <form class="box site-form signup-page" method="POST" action="{% url 'signup' %}" style="margin-top: 100px;">
                
                {% csrf_token %}   
                {{ signup_form.as_p }}
                {{ profile_form.as_p }}

                {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div style="padding: 10px;">
                            <strong class="has-text-danger-dark">{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div style="padding: 10px;">
                        <strong class="has-text-danger-dark">{{ error|escape }}</strong>
                    </div>
                {% endfor %}
                {% endif %}

                    <div class="control">
                        <input type="submit" class="button site-btn" value="Sign Up" /> 
                        <input type="hidden" name="next" value="{{ next }}" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>

{% endblock %}


