{% extends 'base.html' %}
{% block title %} About {% endblock%} 

{% block content%}

<main>
        <div class="container about"> 
                <div class="columns is-multiline is-centered">
                        <div class="column welcome-message is-four-fifths">The hiking journal is a place to log your hikes so you can keep track of the trails worth visiting again.</div>
                        <div class="column welcome-message is-four-fifths">Sign up or log in to begin adding your hiking adventures.</div>
                </div>
        </div>
</main>


{% endblock %}