{% extends 'base.html' %}
{% block title %} Hike Details {% endblock %}
{% load static %}
{% block content %}

<main>
    <main class="gradient">
        <div class="container login">
            <div class="login-form">
                <div class="column card">
                    <div class="card-header">
                        <p class="card-header-title">
                        {{comment.hike.name}}
                        </p>
                    </div>
                    <div class="card-image">
                        <figure class="image is-square">
                            <img src="{{comment.hike.img_one}}" alt="{{hike.name}}"/>
                        </figure>
                    </div>
                    <section class="content hike-details">
                        <strong>Notes written on {{comment.created_at|date}}</strong> 
                        <p>{{comment.content}}</p>
                    </section>
                    <div class="card">
                        <footer class="card-footer">
                            <a class="card-footer-item has-text-black-ter journal-link" href="{% url 'profile' user.profile.pk %}">Journal</a>
                            <a class="card-footer-item has-text-warning-dark modal-delete-btn edit-link" id="comment-edit-btn">Edit</a>
                            <div class="modal" id="comment-edit-modal">
                                <div class="modal-background" id="delete-modal-background"></div>
                                <div class="modal-card">
                                    <header class="modal-card-head">
                                        <p class="modal-card-title">Update Note</p>
                                        <button class="delete" aria-label="close" id="comment-edit-close"></button>
                                    </header>
                                    <footer class="modal-card-foot">
                                        <form class="card-footer-item" action="{% url 'comment_update' comment.pk %}" method="post">
                                            {% csrf_token %}
                                            <div class="d-flex flex-column mb-3">
                                                <label for="content">Comment Content:</label>
                                                <textarea type="text" value="{{ comment.content}}" name="content" rows="10" required>{{ comment.content }}</textarea>
                                            </div>
                                            <input class="button has-text-white-ter has-background-danger-dark" type="submit" value="Update" href="{% url 'profile' user.profile.pk %}">
                                            <input type="hidden" name="text" value="{{ next }}" />
                                        </form> 
                                        <button class="button is-success" aria-label="close" id="edit-comment-cancel-btn">Cancel</button>
                                    </footer>
                                </div>
                            </div>
                            <a class="card-footer-item has-text-danger-dark modal-delete-btn delete-link" id="delete-comment-btn">Delete</a>
                            <div class="modal" id="delete-comment-modal">
                                <div class="modal-background" id="delete-modal-background"></div>
                                <div class="modal-card">
                                    <header class="modal-card-head">
                                        <p class="modal-card-title">Are you sure you want to delete?</p>
                                        <button class="delete" aria-label="close" id="delete-comment-cancel"></button>
                                    </header>
                                    <footer class="modal-card-foot">
                                        <form method="post" action="{% url 'comment_delete' comment.pk %}">
                                            {% csrf_token %}
                                            <input type="submit" class="button is-danger" value="Delete" />
                                            <input type="hidden" name="text" value="{{ next }}"/>
                                        </form>
                                        <button class="button is-success" aria-label="close" id="delete-comment-cancel-btn">Cancel</button>
                                    </footer>
                                </div>
                            </div>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </main>
</main>
{% endblock %}