{% extends 'base.html' %}
{% block title %} Edit Hike {% endblock %}

{% block content %}
<main>
    <main class="gradient">
        <div class="container login">
            <div class="login-form">
                <h1>Edit {{hike.name}}</h1>
                    <form  method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                        <input class="button has-text-white-ter has-background-danger-dark" type="submit" value="Submit">
                        <input type="hidden" name="text" value="{{ next }}" />
                    </form> 
                <a class="button is-warning" href="{% url 'hike_detail' hike.pk %}">Cancel</a>
            </div>
        </div>
    </main>
</main>
{% endblock %}