{% extends 'base.html' %}
{% block title %} Edit Hike {% endblock %}

{% block content %}
<main>
    <main class="gradient">
        <div class="container login">
            <div class="login-form">
                <h1>Edit {{hike.name}}</h1>
                <form class="card-footer-item" method="post">
                        {% csrf_token %}
                        <div class="d-flex flex-column mb-3">
                            <label for="name">Hike Name</label>
                            <input type="text" value="{{ hike.name }}" name="name" required>

                            <label for="img_one">Image</label>
                            <input type="file" value="{{ hike.img_one }}" name="img_one" required>

                            <label for="img_two">Image</label>
                            <input type="file" value="{{ hike.img_two }}" name="img_two">

                            <label for="img_three">Image</label>
                            <input type="file" value="{{ hike.img_three}}" name="img_three">

                            <label for="location">Location</label>
                            <input type="text" value="{{ hike.location}}" name="location" required>

                            <label for="hike_date"> Date Hiked</label>
                            <input type="text" value="{{ hike.hike_date}}" name="hike_date">

                            <label for="length"> Length </label>
                            <input type="number" value="{{ hike.length}}" name="length" min="0" step="0.01">

                            <label for="elevation_gain"> Elevation Gain </label>
                            <input type="number" value="{{ hike.elevation_gain}}" name="elevation_gain" min="0">

                            <label for="hike_rating"> Hike Rating </label>
                            <input type="number" value="{{ hike.hike_rating}}" name="hike_rating" min="1" max="5" required>

                            <label for="description">Hike description</label>
                            <textarea type="text" value="{{hike.description}}" name="description">{{hike.description}}</textarea>
                        </div>
                    <input class="button has-text-white-ter has-background-danger-dark" type="submit" value="Submit">
                    <input type="hidden" name="text" value="{{ next }}" />
                </form> 
                <a class="button is-warning" href="{% url 'hike_detail' hike.pk %}">Cancel</a>
            </div>
        </div>
    </main>
</main>
{% endblock %}