{% extends 'base.html' %}
{% block title %} Hike Details {% endblock %}
{% load static %}
{% block content %}
<main>
    <main class="gradient">
        <div class="container login">
            <div class="login-form">
                <div class="column card">
                    <div class="card-header">
                        <p class="card-header-title">
                        {{hike.name}}
                        </p>
                    </div>
                    <div class="card-image">
                        <figure class="image is-square">
                            <img src="{{hike.img_one}}" alt="{{hike.name}}"/>
                        </figure>
                    </div>
                    <section class="content hike-details">
                        <p><strong>Location:</strong> {{hike.location}}</p>
                        <P><strong>Length:</strong> {{hike.length}} Miles</p>
                        <p><strong>Elevation Gain:</strong> {{hike.elevation_gain}} Feet</P>
                        <p><strong>My Hike Rating:</strong> {{hike.hike_rating}}</p>
                        <p><strong>Hiked on</strong> {{hike.hike_date}} </p>
                        <p><strong>Details:</strong> {{hike.description}}</p>
                    </section>
                    <div class="card">
                        <footer class="card-footer">
                            <a class="card-footer-item has-text-black-ter" href="{% url 'profile' user.profile.pk %}">Back to Journal</a>
                            <a class="card-footer-item has-text-warning-dark" href="{% url 'hike_update' hike.pk %}">Edit</a>
                            <a class="card-footer-item has-text-danger-dark modal-delete-btn" id="delete-btn">Delete</a>
                            <div class="modal" id="delete-modal">
                                <div class="modal-background" id="delete-modal-background"></div>
                                <div class="modal-card">
                                    <header class="modal-card-head">
                                        <p class="modal-card-title">Delete {{ hike.name }}?</p>
                                        <button class="delete" aria-label="close" id="delete-cancel"></button>
                                    </header>
                                    <footer class="modal-card-foot">
                                        <form method="post" action="{% url 'hike_delete' hike.pk %}">
                                            {% csrf_token %}
                                            <input type="submit" class="button is-danger" value="Delete" />
                                            <input type="hidden" name="text" value="{{ next }}" />
                                        <a href="{% url 'hike_detail' hike.pk %}"><button class="button">Cancel</button></a>
                                    </footer>
                                </div>
                            </div>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </main>
</main>
{% endblock %}

