{% extends 'base.html' %}
{% block title %} Edit Hike {% endblock %}

{% block content %}
<main>
    <main class="gradient">
        <div class="container login">
            <div class="login-form">
                <h1>Edit {{hike.name}}</h1>
                <form action="" method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="submit" value="Submit" />
                </form>
                <a class="button is-warning" href="{% url 'profile' user.profile.pk %}">Cancel</a>
            </div>
        </div>
    </main>
</main>
{% endblock %}