{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock%}

{% block content%}

<div class="img-container" style="background-image: url({% static 'landing3.png' %});">
    <div class="landing-caption">
        <p class="is-size-4 welcome-message">A place to journal your hiking adventures.</p>
        {% if user.is_authenticated and not user.is_superuser %}
        <p class="is-size-5 welcome-message">Hike on, {{ user.first_name }}.</p>
        {% elif user.is_superuser %}
        <p class="is-size-5 welcome-message">Hike on, {{ user.username}}.</p>
        {% else %}
        <a href="{% url 'signup' %}">
            <button class="button is-ghost is-large img-signup">Sign Up</button>
        </a>
        <a href="{% url 'login' %}">
            <button class="button is-ghost is-large img-login">Log In</button>
        </a>
        {% endif %}
    </div>
</div>


{% endblock %}