{% extends 'base.html' %}
{% load static %}
{% block title %} Profile {% endblock%} 

{% block content%}

<main class="gradient">
    <div class="container login">
        <div class="dropdown is-active">
            <div class="field">
                <p class="control is-expanded has-icons-right">
                    <input class="input" type="search" placeholder="Search..."/>
                    <span class="icon is-small is-right"><i class="fas fa-search"></i></span>
                </p>
            </div>
        </div>

        <div class="dropdown is-hoverable">
            <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                    <span>Sort Hikes</span>
                    <span class="icon is-small">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                    <a href="#" class="dropdown-item">
                    Alphabetical Order
                    </a>
                    <a href="#" class="dropdown-item">
                    Newest to Oldest
                    </a>
                    <a href="#" class="dropdown-item">
                    Oldest to Newest
                    </a>
                    <a href="#" class="dropdown-item">
                    Highest Rating to Lowest
                    </a>
                    <a href="#" class="dropdown-item">
                    Lowest Rating to Highest
                    </a>
                </div>
            </div>
        </div>

        <div class="login-form">
            <h1 class="welcome-message">Hiking Journal</h1>
            <a class="button is-dark" href="{% url 'profile_update' profile.pk %}">Update Profile</a>
            <img src={{profile.avatar}} >
            <a class="button is-dark" href="{% url 'hike_create' profile.pk %}">Add Hike</a>
            {% for hike in user.hikes.all %}
                <div class="card is-mobile is-centered" id="hike-list-card">
                    <div class="card-header">
                        <p class="card-header-title">
                        {{hike.name}}
                        </p>
                        <nav class="breadcrumb is-right" aria-label="breadcrumbs">
                            <ul>
                                <li>
                                    <a class="review-hike" href="{% url 'hike_detail' hike.pk %}">
                                    <span class="icon is-small">
                                        <i class="fas fa-book" aria-hidden="true" style="color: #28587b;"></i>
                                    </span>
                                    <span class="review-hike"> Review Hike</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                </div>
    
                    <div class="card-image">
                        <a href="{% url 'hike_detail' hike.pk%}">
                            <figure class="image is-4by3">
                                <img src="{{ hike.img_one}}" alt="{{hike.name}}"/>
                            </figure>
                        </a>
                    <section class="content hike-details">
                        <p><strong>Posted on</strong> {{hike.created_at|date}}</p>
                        <p><strong>Location:</strong> {{hike.location}}</p>
                        <P><strong>Length:</strong> {{hike.length}} Miles</p>
                        <p><strong>Elevation Gain:</strong> {{hike.elevation_gain}} Feet</P>
                        <p><strong>My Hike Rating:</strong> {{hike.hike_rating}}</p>
                        <p><strong>Hiked on</strong> {{hike.hike_date}} </p>
                        <p><strong>Details:</strong> {{hike.description}}</p>
                    </section>
                </div>
                <footer class="card-footer">
                    <form class="card-footer-item" action="{% url 'comment_create' profile.pk hike.pk%}" method="post">
                        {% csrf_token %}
                        <input type="text" name="content" id="">
                        {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="is-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="is-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                        {% endif %}
                        <input class="button has-text-white-ter has-background-dark is-small" type="submit" value="Add Note" href="{% url 'profile' user.profile.pk %}">
                    </form>
                </footer>
                {% for comment in hike.comments.all %}
                <div class="card">
                    <div>
                        <p>{{comment.content}}</p>
                        <p>{{comment.created_at|date}}</p>
                        <nav class="breadcrumb is-right" aria-label="breadcrumbs">
                            <ul>
                                <li>
                                    <a class="review-note" href="{% url 'comment_detail' comment.pk %}">
                                    <span class="icon is-small">
                                        <i class="fas fa-book" aria-hidden="true" style="color: #28587b;"></i>
                                    </span>
                                    <span class="review-note" >Review Note</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                {% endfor %}
            </div>
                {% empty %}
                <article class="message">
                    <div class="message-header">
                        <p>No Hikes Available</p>
                    </div>
                {% endfor %}
                </article>
            </div>
        </div>
    </div>
</main>

    
{% endblock %}