{% extends 'base.html' %}
{% load static %}
{% block title %} Profile {% endblock%} 

{% block content%}

<main class="gradient">
    <div class="container login">
        <div class="login-form">
            <h1 class="welcome-message">Hiking Journal</h1>
            <img src={{profile.avatar}} >
            <a class="button is-dark" href="{% url 'hike_create' profile.pk %}">Add Hike</a>
            {% for hike in user.hikes.all %}
                <div class="card is-mobile is-centered" id="hike-list-card">
                    <div class="card-header">
                        <p class="card-header-title">
                        {{hike.name}}
                        </p>
                </div>
                <a href="{% url 'hike_detail' hike.pk%}">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="{{ hike.img_one}}" alt="{{hike.name}}"/>
                        </figure>
                    <section class="content hike-details">
                        <p><strong>Location:</strong> {{hike.location}}</p>
                        <P><strong>Length:</strong> {{hike.length}} Miles</p>
                        <p><strong>Elevation Gain:</strong> {{hike.elevation_gain}} Feet</P>
                        <p><strong>My Hike Rating:</strong> {{hike.hike_rating}}</p>
                        <p><strong>Hiked on</strong> {{hike.hike_date}} </p>
                        <p><strong>Details:</strong> {{hike.description}}</p>
                    </section>
                    </div>
                </a>
                <footer class="card-footer">
                    <form class="card-footer-item" action="{% url 'comment_create' profile.pk hike.pk%}" method="post">
                        {% csrf_token %}
                        <input type="text" name="content" id="">
                        <input class="button has-text-white-ter has-background-dark" type="submit" value="Add Comment" href="{% url 'profile' user.profile.pk %}">
                    </form>
                </footer>
                {% for comment in hike.comments.all %}
                <div class="card">
                    <div>
                        <p>{{comment.content}}</p>
                        <a class="card-footer-item has-text-danger-dark modal-delete-btn" id="comment-delete-btn">Delete</a>
                            <div class="modal" id="comment-delete-modal">
                                <div class="modal-background" id="delete-modal-background"></div>
                                <div class="modal-card">
                                    <header class="modal-card-head">
                                        <p class="modal-card-title">Delete Comment</p>
                                        <button class="delete" aria-label="close" id="comment-delete-close"></button>
                                    </header>
                                    <footer class="modal-card-foot">
                                        <form class="card-footer-item" action="{% url 'comment_delete' comment.pk %}" method="post">
                                            {% csrf_token %}
                                            <input class="button has-text-white-ter has-background-danger-dark" type="submit" value="Delete" href="{% url 'profile' user.profile.pk %}">
                                            <input type="hidden" name="text" value="{{ next }}" />
                                        </form> 
                                        <a href="{% url 'profile' user.profile.pk %}"><button class="button">Cancel</button></a>
                                    </footer>
                                </div>
                            </div>
                    </div>
                    <div>
                {% endfor %}
                </div>
            </div>
                {% empty %}
                <article class="message">
                    <div class="message-header">
                        <p>No Hikes Available</p>
                    </div>
                {% endfor %}
                </article>
            </div>
        </div>
    </div>
</main>

    
{% endblock %}