body, html {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  color: #36454F;
}

#content-wrap {
  flex: 1 0 auto;
  background: linear-gradient(#467383, #467383, #64888a, #9fb798, #b7cdb2, #cfdbcc, #e7ede6, #f4f4f4);
}

#footer {
  flex-shrink: 0;
  background: #f4f4f4;
  padding-bottom: 20px;
  padding-top: 20px;
}
#footer .contact-info {
  margin: 0;
  padding: 0;
}
#footer .contact-info .developer-name, #footer .contact-info .contact-icon {
  color: #28587b;
  font-size: 15px;
}

.img-container .landing-img {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #e7ede6;
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.img-container .welcome-message {
  margin-top: 10em;
  color: #467383;
  font-size: 20px;
}
.img-container .user-message {
  margin-top: 2em;
  color: #467383;
  font-size: 20px;
}
.img-container .img-login, .img-container .img-signup {
  margin: 15px;
  color: #28587b;
  outline: none !important;
  text-decoration: none;
  border-color: transparent;
}
.img-container .img-login:hover, .img-container .img-signup:hover {
  text-decoration: none;
  transition: all 0.5s;
  color: #467383;
}
.img-container .img-login:active, .img-container .img-signup:active {
  color: #28587b;
}
.img-container .img-login:focus, .img-container .img-signup:focus {
  box-shadow: none;
}
.img-container .img-login:after, .img-container .img-signup:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #467383;
  transform-origin: bottom right;
  transition: transform 0.1s ease-out;
}
.img-container .img-login:hover:after, .img-container .img-signup:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

nav.navbar.is-fixed-top {
  box-shadow: 1px 1px 1px #467383;
}
nav.navbar.is-fixed-top .navbar-brand .navbar-burger {
  color: #f4f4f4;
}
nav.navbar.is-fixed-top .navbar-brand .navbar-burger.is-active {
  color: #f4f4f4;
}
nav.navbar.is-fixed-top .navbar-item .logo {
  color: #f4f4f4;
  padding: 2px;
}
nav.navbar.is-fixed-top .navbar-item .site-name {
  padding: 5px;
  font-weight: 700;
  font-size: 20px;
  color: #f4f4f4;
}
nav.navbar.is-fixed-top .navbar-item #home-link:hover {
  pointer-events: none;
}
nav.navbar.is-fixed-top .navbar-menu.is-active {
  text-align: center;
}
nav.navbar.is-fixed-top .navbar-end .about, nav.navbar.is-fixed-top .navbar-end .signup-button, nav.navbar.is-fixed-top .navbar-end .login-button, nav.navbar.is-fixed-top .navbar-end .welcome-user {
  color: #f4f4f4;
}
nav.navbar.is-fixed-top .navbar-end .login-button:hover, nav.navbar.is-fixed-top .navbar-end .signup-button:hover, nav.navbar.is-fixed-top .navbar-end .about:hover, nav.navbar.is-fixed-top .navbar-end .welcome-user:hover {
  color: #28587b;
}

.border {
  border-color: #36454F;
  border-left: 3px groove;
}

.container.about {
  width: 100%;
  text-align: center;
  padding-top: 10em;
  color: #4d4848;
  font-size: 20px;
  text-align: center;
}
.container.about .welcome-message {
  padding: 20px;
}

.signup-page {
  color: #2d2a2a;
}
.signup-page p {
  padding-top: 10px;
  padding-bottom: 10px;
}
.signup-page p input {
  padding: 8px 5px;
  margin: 5px 0;
}
.signup-page p input:focus {
  outline: none !important;
  border-color: none;
  box-shadow: none;
}
.signup-page p .helptext {
  font-size: 15px;
}
.signup-page ul li {
  font-size: 15px;
  margin-left: 10px;
}
.signup-page ul.errorlist {
  margin: 10px;
  color: #cc0f35;
}
.signup-page ul.errorlist li {
  font-size: 20px;
  list-style-type: none;
}

.update-profile {
  color: #2d2a2a;
}
.update-profile p {
  padding-top: 10px;
  padding-bottom: 10px;
}
.update-profile p label {
  margin-right: 20px;
  font-size: 17px;
}
.update-profile p input {
  width: 100%;
  padding: 8px 5px;
  margin: 7px 0;
}
.update-profile p input:focus {
  outline: none !important;
  border-color: #64888a;
  box-shadow: none;
}
.update-profile p .helptext {
  font-size: 15px;
}
.update-profile span.helptext {
  font-size: 15px;
}
.update-profile ul li {
  font-size: 10px;
  margin-left: 10px;
}
.update-profile ul.errorlist {
  margin: 10px;
  color: #cc0f35;
}
.update-profile ul.errorlist li {
  font-size: 15px;
  list-style-type: none;
}

.update-modal {
  color: #2d2a2a;
  font-weight: 700;
  font-size: 15px;
  text-align: left;
}
.update-modal p input {
  margin-bottom: 20px;
}
.update-modal p input:focus {
  outline: none !important;
  border-color: none;
  box-shadow: none;
}

.card-header-title {
  font-size: 20px;
}

.container.page-card {
  margin-top: 50px;
  text-align: center;
  width: 100%;
  padding: 40px;
}

.review-note {
  color: #28587b !important;
}

a.review-note:hover, a.review-hike:hover {
  color: #b7cdb2 !important;
  transform: rotate(360deg);
  transform: scale(1.05);
}

span.review-hike {
  color: #28587b !important;
}

.journal-link {
  color: #28587b;
}

a.journal-link:hover {
  color: #64888a !important;
  transform: rotate(360deg);
  transform: scale(1.05);
}

a.edit-link:hover, a.delete-link:hover {
  transform: rotate(360deg);
  transform: scale(1.05);
}

.site-btn {
  color: #28587b;
  border-color: #467383 !important;
}

.site-btn:hover {
  color: #467383;
  border-color: #467383;
}

.site-btn:active {
  color: #467383;
  border-color: #467383;
  box-shadow: none;
  outline: none !important;
}

.site-btn:focus {
  box-shadow: 0 0 5px #64888a;
}

.site-btn:hover:after {
  pointer-events: none;
  outline: none !important;
  border-color: #467383;
  box-shadow: none;
}

.search-header {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}

.search-title {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 700;
  border-radius: 2px;
  border-bottom: 1px solid #36454F;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.profile-card {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.profile-hike-card {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

.hike-detail-card {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

.site-form input:focus {
  outline: none !important;
  border-color: #28587b;
  box-shadow: 0 0 5px #64888a;
}
.site-form textarea:focus {
  outline: none !important;
  border-color: #28587b;
  box-shadow: 0 0 5px #64888a;
}

.hike-create-form p input {
  margin-bottom: 20px;
  width: 50%;
}
.hike-create-form p input:focus {
  outline: none !important;
  border-color: #64888a;
}
.hike-create-form label {
  margin-right: 20px;
  font-weight: 700;
  font-size: 14px;
}
.hike-create-form textarea:focus {
  outline: none !important;
  border-color: #64888a;
}

.class-footer-item form input {
  margin-bottom: 20px;
  padding: 8px 8px;
  margin: 8px 0;
}
.class-footer-item form input:focus {
  outline: none !important;
  border-color: none;
  box-shadow: none;
}

.box.sort-form label {
  font-size: 14px;
}
.box.sort-form input {
  margin: 5px 0;
}
.box.sort-form input:focus {
  outline: none !important;
  border-color: #64888a;
}
.box.sort-form textarea:focus {
  outline: none !important;
  border-color: #64888a;
}

.password-form input {
  margin-top: 20px;
  margin-bottom: 20px;
}

.password-reset {
  text-align: center;
  margin-top: 200px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.password-reset p {
  margin-bottom: 20px;
}

@media screen and (max-width: 1024px) {
  .img-container {
    left: 50%;
    margin-left: -512px;
  }
}

/*# sourceMappingURL=style.css.map */
