{% extends 'base.html' %}
{% load static %}
{% block title %} Profile {% endblock%} 

{% block content%}



<main class="main-container">
    <div class="container page-card">
        <div class="card profile-card" style="background: linear-gradient(#64888a, #64888a, #9fb798, #b7cdb2, #cfdbcc)">
            <header class="card-header">
                <p class="card-header-title is-centered" >
                    {{ profile.user.first_name }}'s Hiking Journal
                </p>
            </header>

            <div class="card-content is-centered">
                <div class="media" style="justify-content: center;">
                        <figure class="image is-128x128">
                            <img src="{{profile.avatar}}" alt="profile avatar" style="border-radius: 5px;"/>
                        </figure>
                    <div class="content" style="margin-left: 20px">
                        <p class="title is-5">{{profile.user.username}}</p>
                        <p class="subtitle is-6">{{user.profile.location}}</p>
                    </div>
                </div>
            </div>
            {% if profile.user == user %}
            <footer class="card-footer">
                <a href="{% url 'hike_create' profile.pk %}"class="card-footer-item journal-link">Add Hike</a>
                <a href="{% url 'sort_hikes' %}" class="card-footer-item journal-link">Search Your Hikes</a>
                <a href="{% url 'profile_update' profile.pk %}" class="card-footer-item journal-link">Update Account</a>
            </footer>
            {% endif %}
        </div>

    {% for hike in profile.user.hikes.all %}
        <div class="card is-mobile is-centered profile-hike-card" id="hike-list-card">
            <div class="card-header">
                <p class="card-header-title">
                {{hike.name}}
                </p>
                <nav class="breadcrumb is-right" aria-label="breadcrumbs" style="margin-top: 10px;">
                    <ul>
                        <li>
                            <a class="review-hike" href="{% url 'hike_detail' hike.pk %}">
                            <span class="icon is-small">
                                <i class="fas fa-hiking" aria-hidden="true" style="color: #28587b;"></i>
                            </span>
                            <span class="review-hike"> View Hike</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="card-image">
                <a href="{% url 'hike_detail' hike.pk%}">
                    <figure class="image is-4by3">
                        <img src="{{ hike.img_one}}" alt="{{hike.name}}"/>
                    </figure>
                </a>
            </div>
            <div class="card">
                <footer class="card-footer">
                    {% if profile.user != user %}
        <article class="media profile-hike-card">
            <figure class="media-right">
                <p class="image is-96x96">
                    <img src="{{user.profile.avatar}}" style="border-radius: 5px; margin-top: 10px;">
                </p>
            </figure>
            <div class="media-content">
                <div class="field">
                    <p class="control">
                        <form class="card-footer-item" action="{% url 'comment_create' profile.pk hike.pk%}" method="post">
                            {% csrf_token %}
                            <textarea class="textarea" type="text" name="content" maxlength="1000" placeholder="Add a comment..." required></textarea>
        
                            {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div style="padding: 10px;">
                                        <strong class="has-text-danger-dark">{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div style="padding: 10px;">
                                    <strong class="has-text-danger-dark">{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                            {% endif %}
                    </p>
                </div>
                    <nav class="level">
                        <div class="level-left">
                            <div class="level-item">
                                <input class="button site-btn" type="submit" value="Post" href="{% url 'profile' user.profile.pk %}" style="margin-bottom: 5px;">
                            </div>
                        </div>
                    </nav>
                </form>
            </div>
        </article>
        {% endif %}
                </footer>
              </div>
        </div>

    

        <article class="media-card profile-hike-card">
            <div class="box" > 
                {% for comment in hike.comments.all %}
                <div class="media-content" style="border-top: 1px solid #C0C0C0">
                    <div class="content" style="margin: 20px; text-align: left">
                        <p>
                        <strong>{{comment.user.first_name}}</strong> <a href="{% url 'profile' comment.user.id %}"><small>@{{comment.user.username}}</small></a><small> {{comment.created_at|date}}</small>
                        <br>
                        {{comment.content}}
                        </p>
                    </div>
                    {% if comment.user == user %}
                    <nav class="breadcrumb is-right" aria-label="breadcrumbs" style="margin-bottom: 10px;">
                        <ul>
                            <li>
                                <a class="review-note" href="{% url 'comment_detail' comment.pk %}">
                                <span class="icon is-small">
                                    <i class="far fa-edit" aria-hidden="true" style="color: #28587b;"></i>
                                </span>
                                <span class="review-note"> Edit Comment</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    {% endif %}
                    {% if profile.user == user %}
                    <nav class="breadcrumb is-right" aria-label="breadcrumbs">
                        <ul>
                            <li>
                                <a class="review-note" href="{% url 'comment_detail' comment.pk %}">
                                <span class="icon is-small">
                                    <i class="far fa-comment-alt" aria-hidden="true" style="color:#28587b;;"></i>
                                </span>
                                <span class="review-note"> View Comment</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </article>

                    
            {% empty %}
            <article class="message profile-card is-medium">
                <div class="message-header">
                    <p>No Hikes Posted</p>
                </div>
            {% endfor %}
            </article>
        </div>
    </div>
</main>

    
{% endblock %}