{% extends 'base.html' %}
{% block title %} Hike Details {% endblock %}
{% load static %}
{% block content %}

<main>
    <main class="main-container">
        <div class="container page-card">
            <div class="card-border">
                <div class="card" style="width: 500px; margin-left: auto;
                margin-right: auto;">
                    <div class="card-header" style="padding-top: 20px">
                        <p class="card-header-title" style="font-size: 20px;">
                        {{comment.hike.name}}
                        </p>
                        <nav class="breadcrumb is-right" aria-label="breadcrumbs">
                            <ul>
                                <li>
                                    <a class="review-hike" href="{% url 'hike_detail' comment.hike.pk %}">
                                    <span class="icon is-small">
                                        <i class="fas fa-hiking" aria-hidden="true" style="color: #28587b;"></i>
                                    </span>
                                    <span class="review-hike"> View Hike</span>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="{{ comment.hike.img_one}}" alt="{{comment.hike.name}}"/>
                            </figure>
                        </a>
                    </div>
                    <section class="content hike-details" style="margin-top: 10px;">
                        <strong>Comment posted on {{comment.created_at|date}}</strong> 
                        <p>{{comment.content}}</p>
                    </section>
                    <div class="card" style="width: 500px; margin-left: auto;
                    margin-right: auto;">
                        {% if comment.user == user %}
                        <footer class="card-footer">
                            <a class="card-footer-item has-text-black-ter journal-link" href="{% url 'profile' user.profile.pk %}">Journal</a>
                            <a class="card-footer-item has-text-warning-dark modal-delete-btn edit-link" id="comment-edit-btn">Edit</a>
                            <div class="modal" id="comment-edit-modal">
                                <div class="modal-background" id="delete-modal-background"></div>
                                <div class="modal-card">
                                    <header class="modal-card-head">
                                        <p class="modal-card-title">Edit Comment</p>
                                        <button class="delete" aria-label="close" id="comment-edit-close"></button>
                                    </header>
                                    <section class="modal-card-body">
                                        <form class="update-modal" style="text-align: center;" action="{% url 'comment_update' comment.pk %}" method="post">
                                            {% csrf_token %}
                                            <div class="d-flex flex-column mb-3">
                                                <textarea type="text" value="{{ comment.content}}" name="content" rows="10" cols="30" name="description" required>{{ comment.content }}</textarea>
                                            </div>
                                            {% if form.errors %}
                                            {% for field in form %}
                                                {% for error in field.errors %}
                                                    <div style="padding: 10px;">
                                                        <strong class="has-text-danger-dark">{{ error|escape }}</strong>
                                                    </div>
                                                {% endfor %}
                                            {% endfor %}
                                            {% for error in form.non_field_errors %}
                                                <div style="padding: 10px;">
                                                    <strong class="has-text-danger-dark">{{ error|escape }}</strong>
                                                </div>
                                            {% endfor %}
                                            {% endif %}
                                    </section>
                                    <footer class="modal-card-foot">
                                            <input class="button has-background-primary-dark has-text-link-light" type="submit" value="Save Changes" href="{% url 'profile' user.profile.pk %}">
                                            <input type="hidden" name="text" value="{{ next }}" />
                                        </form> 
                                        <button class="button site-btn" aria-label="close" id="comment-cancel-btn">Cancel</button>
                                    </footer>
                                </div>
                            </div>
                            <a class="card-footer-item has-text-danger-dark modal-delete-btn delete-link" id="delete-comment-btn">Delete</a>
                            <div class="modal" id="delete-comment-modal">
                                <div class="modal-background" id="delete-modal-background"></div>
                                <div class="modal-card">
                                    <header class="modal-card-head">
                                        <p class="modal-card-title">Are you sure you want to delete?</p>
                                        <button class="delete" aria-label="close" id="delete-comment-cancel"></button>
                                    </header>
                                    <footer class="modal-card-foot">
                                        <form method="post" action="{% url 'comment_delete' comment.pk %}">
                                            {% csrf_token %}
                                            <input type="submit" class="button has-background-danger-dark has-text-link-light" value="Delete" />
                                            <input type="hidden" name="text" value="{{ next }}"/>
                                        </form>
                                        <button class="button has-background-primary-dark has-text-link-light" aria-label="close" id="delete-comment-cancel-btn">Cancel</button>
                                    </footer>
                                </div>
                            </div>
                        </footer>
                        {% endif %}
                        {% if comment.hike.user == user %}
                        <footer class="card-footer">
                            <a class="card-footer-item has-text-black-ter journal-link" href="{% url 'profile' user.profile.pk %}">Journal</a>
                            <a class="card-footer-item has-text-danger-dark modal-delete-btn delete-link" id="delete-comment-btn">Delete</a>
                            <div class="modal" id="delete-comment-modal">
                                <div class="modal-background" id="delete-modal-background"></div>
                                <div class="modal-card">
                                    <header class="modal-card-head">
                                        <p class="modal-card-title">Are you sure you want to delete?</p>
                                        <button class="delete" aria-label="close" id="delete-comment-cancel"></button>
                                    </header>
                                    <footer class="modal-card-foot">
                                        <form method="post" action="{% url 'comment_delete' comment.pk %}">
                                            {% csrf_token %}
                                            <input type="submit" class="button has-background-danger-dark has-text-link-light" value="Delete" />
                                            <input type="hidden" name="text" value="{{ next }}"/>
                                        </form>
                                        <button class="button has-background-primary-dark has-text-link-light" aria-label="close" id="delete-comment-cancel-btn">Cancel</button>
                                    </footer>
                                </div>
                            </div>
                        </footer>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </main>
</main>
{% endblock %}
