{% extends 'base.html' %}
{% load static %}
{% block title %} {% endblock%} 

{% block content%}


        <div class="box profile-hike-card" style="text-align: center; margin-top: 100px;"> 
            <h1 style="font-weight: 700; font-size: 20px;">Change Password</h1>
            <form id="id_password_change_form" method="POST">
                {% csrf_token %}  
                
                <div class="password-form"> 
                    <input name="old_password" class="input" placeholder="Old password" type="password" id="id_old_password" required="true">
                    <input name="new_password1" class="input" placeholder="New password" type="password" id="id_new_password1" required="true">
                    <input name="new_password2" class="input" placeholder="Confirm password" type="password" id="id_new_password2" required="true">
 
                {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div style="padding: 10px;">
                            <strong class="has-text-danger-dark">{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div style="padding: 10px;">
                        <strong class="has-text-danger-dark">{{ error|escape }}</strong>
                    </div>
                {% endfor %}
                {% endif %}
                
                    <input type="submit" class="button site-btn" value="Update" /> 
                </div>
            </form>
        </div>

    
{% endblock %}
