{% extends 'base.html' %}
{% load static %}
{% block title %} {% endblock%} 

{% block content%}


    <div class="box password-reset"> 
        <div>
            <p>
                We've emailed you instructions for setting your password, if an account exists with the email you entered.
                You should receive them shortly.
            </p>
            <p>
                If you don't receive an email, please make sure you've entered the address you registered with,
                and check your spam folder.
            </p>
            <p class="button site-btn"><a href="{% url 'home' %}">Return to home page</a></p>
        </div>
    </div>
</main>
    
{% endblock %}