$navbar: #28587b;
$btn: #467383;
$trim: #64888a;
$gradient_four: #9fb798;
$gradient_five:  #b7cdb2;
$gradient_six: #cfdbcc;
$footer: #e7ede6;
$background: #f4f4f4;
$primary-font: 'Poppins', sans-serif;


body, html {
    font-family: $primary-font;
    height: 100%;
    margin: 0;
}

.navbar {
    box-shadow: 1px 2px 3px $navbar;

    .navbar-brand {

        background-color: $navbar;

        .navbar-item {

            background-color: $navbar;

            .logo {
                color: $footer;
                padding: 2px;
            }
        
            .site-name {
                padding: 5px;
                font-weight: 700;
                font-size: 20px;
                color: $footer;
            }

        }

        .navbar-burger {
            color: $footer;
            background: $navbar;
        }

    }

    .navbar-menu {

        background: $navbar;
        text-align: center;
    
            .about, .signup-button, .login-button  {
                color: $footer;
            }

            .login-button:hover, .signup-button:hover, .about:hover {
                color: $navbar;
            }
        }
    } 


.footer {
    padding: 20px;
    background: $footer;
    position: fixed;
    left:0px;
    bottom:0px;
    width:100%;

    .contact-info {
        margin: 0;
        padding: 0;

        .developer-name, .contact-icon {
            color: $navbar;
            font-size: 15px;
        }
    }
}
.gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: -1;
    background: linear-gradient($navbar, $btn, $btn, $trim, $trim, 
    $gradient_four, $gradient_four, $gradient_five, $gradient_five, 
    $gradient_six, $gradient_six, $footer, $background, $footer);
}

.img-container {
    background-image: url("../landing3.png");
    background-color: $background;
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .landing-caption {
        position: absolute;
        left: 0;
        top: 20%;
        width: 100%;
        text-align: center;
    }
        .welcome-message {
            margin-top: 10px;
            color: $primary-font;
            font-size: 20px;
        }

        .img-login, .img-signup {
            margin-top: 10px;
            color: $navbar;
            outline: none !important;
            text-decoration: none;
            border-color: transparent;
        }
        
        .img-login:hover, .img-signup:hover  {
            text-decoration: none;
            transition: all .5s;
            color: $btn;
        }

        .img-login:active, .img-signup:active {
            color: $navbar;
        }

        .img-login:focus, .img-signup:focus {
            box-shadow: none;
        }

}


@media screen and (max-width: 1024px) { 
    .img-container {
        left: 50%;
        margin-left: -512px;  
    }
}