$navbar: #28587b;
$btn: #467383;
$trim: #64888a;
$gradient_four: #9fb798;
$gradient_five:  #b7cdb2;
$background: #cfdbcc;
$footer: #e7ede6;
$background: #f4f4f4;
$primary-font: 'Poppins', sans-serif;


body {
    font: $primary-font;
    color: $navbar;
    background: $background;
}

.navbar {

    .navbar-brand {

        background-color: $navbar;

        .navbar-item {

            background-color: $navbar;

            .logo {
                color: $footer;
                padding: 2px;
            }
        
            .site-name {
                padding: 5px;
                font-weight: 700;
                font-size: 20px;
                color: $footer;
            }

        }

        .navbar-burger {
            color: $footer;
            background: $navbar;
        }

    }

    .navbar-menu {

        background: $navbar;
        text-align: center;
    
            .about, .signup-button, .login-button  {
                color: $footer;
            }

            .login-button:hover, .signup-button:hover, .about:hover {
                color: $navbar;
            }
        }
    } 


.footer {
    padding: 10px;
    margin-top: 20px;
    background: $footer;

    .contact-info {
        margin: 0;
        padding: 0;

        .developer-name, .contact-icon {
            color: $navbar;
            font-size: 15px;
        }
    }

}

