$navbar: #28587b;
$btn: #467383;
$trim: #64888a;
$gradient_four: #9fb798;
$gradient_five:  #b7cdb2;
$gradient_six: #cfdbcc;
$footer: #e7ede6;
$background: #f4f4f4;
$primary-font: 'Poppins', sans-serif;


body {
    font-family: $primary-font;
}

.navbar {

    .navbar-brand {

        background-color: $navbar;

        .navbar-item {

            background-color: $navbar;

            .logo {
                color: $footer;
                padding: 2px;
            }
        
            .site-name {
                padding: 5px;
                font-weight: 700;
                font-size: 20px;
                color: $footer;
            }

        }

        .navbar-burger {
            color: $footer;
            background: $navbar;
        }

    }

    .navbar-menu {

        background: $navbar;
        text-align: center;
    
            .about, .signup-button, .login-button  {
                color: $footer;
            }

            .login-button:hover, .signup-button:hover, .about:hover {
                color: $navbar;
            }
        }
    } 


.footer {
    padding: 20px;
    background: $footer;
    position: fixed;
    left:0px;
    bottom:0px;
    width:100%;

    .contact-info {
        margin: 0;
        padding: 0;

        .developer-name, .contact-icon {
            color: $navbar;
            font-size: 15px;
        }
    }
}
.gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: -1;
    background: linear-gradient($navbar, $btn, $btn, $trim, $trim, 
    $gradient_four, $gradient_four, $gradient_five, $gradient_five, 
    $gradient_six, $gradient_six, $footer, $background, $footer);

    .container {
    position: relative;
    text-align: center;
    color: $background;
    width: 80%;
    height: auto;
    
    .img-container {
        position: absolute;
        text-align: center;
        color: $background;
        margin-top: 50px;
    
        .welcome-message {
            position: absolute;
            color: $background;
            top: 20%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .img-login {
            position: absolute;
            top: 40%;
            left: 58%;
            transform: translate(-50%, -50%);
            color: $navbar;
            text-decoration: none;
        }
        
        .img-signup {
            position: absolute;
            top: 40%;
            left: 42%;
            transform: translate(-50%, -50%);
            color: $navbar;
            text-decoration: none;
        }
        
    }
    }
}




